@tailwind base;
@tailwind components;
@tailwind utilities;

.mb-lg-0{
    margin : 0 auto;
}
.header1{
    /* background-color: "#e1ebfa"; */
    background: #e1ebfa;
    width: 100%;
    padding: bottom;
    /* height: 160vh; */
}
.img-header{
    width: 100%;
    border-radius: 57% 43% 72% 28% / 33% 52% 48% 67% ;
}
@media screen and (max-width: 991px){
    #flex{
        flex-direction: column;
    }
}

.section2{
    background-image: url(https://bootstrapbrain.com/demo/templates/wave/wave-lite/assets/img/cta/cta-img-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    filter: brightness(80%);
}
.span1{
    background: linear-gradient(120deg, #e4a0a1, #e4a0a1);
    background-position: 0 80%;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}
.div-text{
    position: absolute;
    margin-top: -25rem;
    margin-left: 7% !important;
}
.font-family{
    font-family: "Satisfy", cursive;
    font-size: 3rem;
    color: #a30000;
    background: linear-gradient(120deg, #fff3cd, #fff3cd);
    background-position: 0 80%;
    background-size: 100% 20%;
    background-repeat: no-repeat;
}

.custom-width-div{
    max-width: 1250px !important;
}

.pricing{
    height: 600px !important;
    margin-top: 20px !important;
}

@media screen and (max-width: 640px) {
    .div-text{
        margin-top: -22rem;
        margin-left: 3% !important;
    }
}
@media screen and (max-width: 790px) {
    div img{
        width: 97% !important;
        /* margin-left: 5px !important; */
    }
}